body {
  background-color: #1f2937;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff32;
  border-radius: 12px;
}

body::-webkit-scrollbar-track-piece {
  background-color: #00000026;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
